.main::-webkit-scrollbar{
  display: none;
}

.main {
  margin-top: 0vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  overflow: auto;
  height: 100vh;
  width: 100%;
}

.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 200px;
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 700px;
    width: 950px;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;
    .title {
      text-align: center;
      margin: 0px;
      font-size: 28px;
      font-family: var(--main-font);
    }
    .body {
      display: flex;
      height: 100%;
      margin-top: 50px;
      gap: 50px;
      .description {
        width: 40%;
        position: relative;
        top: 10%;
        font-family: var(--sec-font);
        p {
          font-size: 18px;
          &::first-letter {
            font-size: 28px;
            font-family: var(--main-font);
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        .inner {
          width: 100%;
          height: 100%;
        }
        img {
          object-fit: cover;
          background-color: black;
          width: 500px;
          height: 550px;
        }
      }
    }
  }
}
